<?xml version="1.0"?>
<config>
    <modules>
        <RedboxDigital_Linkedin>
            <version>0.1.0</version>
        </RedboxDigital_Linkedin>
    </modules>
    <global>
        <models>
            <redboxdigital_linkedin>
                <class>RedboxDigital_Linkedin_Model</class>
                <resourceModel>redboxdigital_linkedin_resource</resourceModel>
            </redboxdigital_linkedin>
            <redboxdigital_linkedin_resource>
                <class>RedboxDigital_Linkedin_Model_Resource</class>
            </redboxdigital_linkedin_resource>
            <customer>
                <rewrite>
                    <form>RedboxDigital_Linkedin_Model_Customer_Form</form>
                </rewrite>
            </customer>
        </models>
        <blocks>
            <redboxdigital_linkedin>
                <class>RedboxDigital_Linkedin_Block</class>
            </redboxdigital_linkedin>
        </blocks>
        <helpers>
            <redboxdigital_linkedin>
                <class>RedboxDigital_Linkedin_Helper</class>
            </redboxdigital_linkedin>
        </helpers>
        <resources>
            <redboxdigital_linkedin_setup>
                <setup>
                    <module>RedboxDigital_Linkedin</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </redboxdigital_linkedin_setup>
            <redboxdigital_linkedin_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </redboxdigital_linkedin_write>
            <redboxdigital_linkedin_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </redboxdigital_linkedin_read>
        </resources>
        <fieldsets>
            <checkout_onepage_quote>
                <linkedin_profile>
                    <to_customer>*</to_customer>
                </linkedin_profile>
            </checkout_onepage_quote>
            <customer_account>
                <linkedin_profile>
                    <to_quote>*</to_quote>
                </linkedin_profile>
            </customer_account>
        </fieldsets>
    </global>
    <frontend>
        <layout>
            <updates>
                <redboxdigital_linkedin>
                    <file>redbox_customer_linkedin.xml</file>
                </redboxdigital_linkedin>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <redboxdigital_linkedin>
                                            <title>Redbox Digital Customer LinkedIn Attribute Options</title>
                                        </redboxdigital_linkedin>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <events>
            <admin_system_config_changed_section_redboxdigital_linkedin>
                <observers>
                    <redboxdigital_linkedin>
                        <type>singleton</type>
                        <class>redboxdigital_linkedin/observer</class>
                        <method>adminSystemConfigChangedSectionRedboxdigitalLinkedin</method>
                    </redboxdigital_linkedin>
                </observers>
            </admin_system_config_changed_section_redboxdigital_linkedin>
        </events>
    </adminhtml>
</config>